이전 노드 데이터 쿼리 랜덤 생성기

In [10]:
import datetime
import random

In [11]:
TABLENAME = "temperature_data"

In [12]:
date = datetime.datetime(2022,1,1)
query = "INSERT INTO {tableName}(date, max_temperature, min_temperature, average_temperature) values ('{date}', {maxTemperature}, {minTemperature}, {averageTemperature});"

In [13]:
print(date)
print(datetime.datetime.now())

2022-01-01 00:00:00
2022-04-05 17:27:05.356245

In [14]:
while(True):
    minTemperature = random.uniform(4, 5)
    averageTemperature = random.uniform(1, 2) + minTemperature
    maxTemperature = random.uniform(1, 10) + averageTemperature
    
    print(query.format(tableName = TABLENAME,
                       date = date.strftime("%Y-%m-%d"), 
                       maxTemperature = round(maxTemperature,2), 
                       minTemperature = round(minTemperature,2), 
                       averageTemperature = round(averageTemperature,2)))
    
    date += datetime.timedelta(days=1)
    if(date.strftime("%Y-%m-%d") == datetime.datetime.now().strftime("%Y-%m-%d")):
        date = datetime.datetime(2022,1,1)
        break

INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-01-01', 7.63, 4.03, 5.66);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-01-02', 8.82, 4.84, 6.52);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-01-03', 15.22, 4.24, 5.46);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-01-04', 12.71, 4.95, 6.25);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-01-05', 15.51, 4.21, 6.15);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-01-06', 10.9, 4.76, 5.89);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-01-07', 9.2, 4.29, 5.65);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-01-08', 7.27, 4.52, 5.87);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-01-09', 9.86, 4.84, 6.58);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-01-10', 12.19, 4.86, 6.48);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-01-11', 15.0, 4.61, 6.04);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-01-12', 10.78, 4.85, 6.0);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-01-13', 11.62, 4.84, 6.69);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-01-14', 11.72, 4.34, 5.58);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-01-15', 10.07, 4.31, 5.33);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-01-16', 8.13, 4.44, 6.02);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-01-17', 13.3, 4.38, 6.25);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-01-18', 12.5, 4.6, 5.7);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-01-19', 11.16, 4.03, 5.95);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-01-20', 11.77, 4.21, 5.63);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-01-21', 14.96, 4.22, 5.95);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-01-22', 8.3, 4.9, 6.77);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-01-23', 11.6, 4.25, 5.47);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-01-24', 12.99, 4.72, 6.03);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-01-25', 7.93, 4.15, 5.25);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-01-26', 13.3, 4.36, 6.31);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-01-27', 9.01, 4.49, 5.51);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-01-28', 9.69, 4.01, 5.38);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-01-29', 7.66, 4.08, 5.36);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-01-30', 14.01, 4.49, 5.55);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-01-31', 10.1, 4.03, 5.47);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-02-01', 15.57, 4.2, 5.81);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-02-02', 11.77, 4.87, 6.43);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-02-03', 13.59, 4.44, 6.18);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-02-04', 9.43, 4.84, 6.04);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-02-05', 8.85, 4.05, 5.26);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-02-06', 13.19, 4.22, 5.77);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-02-07', 9.99, 4.74, 6.1);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-02-08', 13.47, 4.37, 6.18);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-02-09', 14.98, 4.4, 6.2);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-02-10', 10.96, 4.25, 6.24);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-02-11', 11.52, 4.08, 6.03);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-02-12', 6.96, 4.03, 5.32);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-02-13', 11.45, 4.56, 6.29);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-02-14', 13.98, 4.49, 5.71);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-02-15', 7.72, 4.38, 6.19);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-02-16', 10.48, 4.95, 6.12);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-02-17', 13.5, 4.69, 6.59);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-02-18', 12.2, 4.32, 6.25);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-02-19', 15.39, 4.87, 6.39);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-02-20', 11.81, 4.6, 6.32);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-02-21', 15.22, 4.43, 5.97);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-02-22', 8.4, 4.13, 5.88);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-02-23', 7.73, 4.92, 6.43);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-02-24', 7.61, 4.02, 5.41);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-02-25', 12.7, 4.01, 5.63);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-02-26', 8.12, 4.51, 5.59);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-02-27', 12.21, 4.69, 6.08);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-02-28', 16.03, 4.43, 6.1);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-03-01', 8.18, 4.67, 5.74);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-03-02', 8.14, 4.01, 5.76);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-03-03', 12.85, 4.69, 5.86);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-03-04', 14.91, 4.24, 5.32);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-03-05', 12.88, 4.39, 5.51);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-03-06', 11.76, 4.05, 5.36);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-03-07', 11.38, 4.44, 5.78);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-03-08', 16.05, 4.52, 6.21);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-03-09', 10.64, 4.69, 6.64);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-03-10', 11.44, 4.03, 5.8);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-03-11', 9.38, 4.72, 6.71);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-03-12', 14.32, 5.0, 6.51);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-03-13', 16.08, 4.25, 6.12);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-03-14', 15.06, 4.5, 6.2);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-03-15', 8.83, 4.86, 6.62);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-03-16', 13.03, 4.96, 6.12);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-03-17', 12.67, 4.04, 5.39);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-03-18', 8.39, 4.37, 5.71);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-03-19', 12.15, 4.26, 5.51);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-03-20', 10.98, 4.55, 6.38);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-03-21', 15.01, 4.85, 6.02);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-03-22', 8.74, 4.48, 6.05);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-03-23', 9.4, 4.96, 6.31);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-03-24', 12.85, 4.9, 6.32);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-03-25', 11.42, 4.51, 6.2);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-03-26', 14.98, 4.07, 5.17);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-03-27', 7.91, 4.55, 6.2);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-03-28', 11.21, 4.84, 6.83);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-03-29', 7.27, 4.02, 5.81);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-03-30', 11.9, 4.43, 6.35);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-03-31', 15.05, 4.11, 5.34);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-04-01', 15.14, 4.25, 5.29);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-04-02', 9.71, 4.63, 5.65);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-04-03', 13.78, 4.11, 5.66);
INSERT INTO temperature_data(date, max_temperature, min_temperature, average_temperature) values ('2022-04-04', 10.03, 4.73, 5.9);